*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.cache
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.vscode
/.zed
/auth.json
/bootstrap/cache/*.php
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs/*.log
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
